# Evaluacion
Nuestro entrenamiento de modelos se encuentra en el archivo Train.ipynb en este archivo se guardo un csv
para realizar las pruebas de nuestros modelos

In [45]:
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn import tree
import sklearn.datasets as datasets
from sklearn.tree import DecisionTreeClassifier

from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import csv
from csv import writer
import tensorflow.compat.v1 as tf 
from scipy.stats import norm
%load_ext tensorboard
import seaborn as sns
x_test = pd.read_csv('testx.csv')
y_test = pd.read_csv('testy.csv')

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [46]:
x_test = x_test.drop('PassengerId', axis = 1)
x_test

,Age,Fare,Embarked,passenger_sex,Familia,Solo,GrupoFam,CabinGroup,AgeGroup,Cabin_H,Cabin_L,Cabin_M,Cabin_X,passenger_class_Lower,passenger_class_Middle,passenger_class_Upper
0,28.0,8.0500,2,0,1,1,1.0,3,2.0,0,0,0,1,1,0,0
1,29.0,9.4833,2,1,1,1,1.0,3,2.0,0,0,0,1,1,0,0
2,28.0,7.2292,1,1,1,1,1.0,3,2.0,0,0,0,1,1,0,0
3,27.0,30.5000,2,1,1,1,1.0,3,2.0,0,0,0,1,0,0,1
4,28.0,8.0500,2,1,1,1,1.0,3,2.0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,65.0,61.9792,1,1,2,0,2.0,0,4.0,1,0,0,0,0,0,1
175,19.0,7.8958,2,1,1,1,1.0,3,2.0,0,0,0,1,1,0,0
176,49.0,56.9292,1,1,2,0,2.0,2,3.0,0,1,0,0,0,0,1
177,61.0,32.3208,2,1,1,1,1.0,0,4.0,1,0,0,0,0,0,1
178,34.5,6.4375,1,1,1,1,1.0,3,2.0,0,0,0,1,1,0,0

In [47]:
y_test = y_test.drop('PassengerId', axis = 1)
y_test

     passenger_survived
0                     0
1                     0
2                     0
3                     1
4                     0
..                  ...
174                   0
175                   0
176                   1
177                   0
178                   0

[179 rows x 1 columns]

# Ahora vamos a cargar los modelos

In [ ]:
decissionTree = pickle.load(open('DecissionTree.sav', 'rb'))
SVM = pickle.load(open('SVM.sav', 'rb'))
bayes = pickle.load(open('bayes.pkl', 'rb'))
def probInd(X, ant, dists):
    prod = np.prod(np.array([d.pdf(z) for (d, z) in zip(dists, X)]))
    return ant * prod
def predictBayes(x):
    p0 = probInd(x, bayes['pA0'], bayes['nY0'])
    p1 = probInd(x, bayes['pA1'], bayes['nY1'])
    if p0>p1:
        return 0
    else:
        return 1
def predictoreBayes(x):
    predictor = lambda t: predictBayes(t)
    predicciones =  np.array([predictor(xi) for xi in x])
    return predicciones
modeloreglog=pd.read_csv('modeloreg.csv',header=None)
def predictLog(x):
    logitspred = np.matmul(x,np.array(modeloreglog))
    predict = np.argmax(logitspred, axis=1)
    return predict
def funcionPrueba(x,y):
    dt = decissionTree.predict(x)[0]
    svm = predictLog(x)[0]
    bayes = predictoreBayes(x)[0]
    log = predictLog(x)[0]
    essemble = 0
    if ( dt + svm + bayes + log == 2 ):
        essemble = dt
    if ( dt + svm + bayes + log > 2 ):
        essemble = 1
    print('Prediccion Essemble ' + str(essemble))
    print('Prediccion SVM ' + str(svm))
    print('Prediccion bayes ' + str(bayes))
    print('Prediccion DT ' + str(dt))
    print(' Valor Esperado era ' + str(y) + ' Valor de Essemble fue ' +str(essemble))
    
    plt.figure(figsize=(50,50))
    a = plot_tree(decissionTree, 
                  filled=True, 
                  rounded=True, 
                  fontsize=14)

x_train, x_test10, y_train, y_test0 = train_test_split(
     x_test, y_test, test_size=10, shuffle=True)
x_test10

In [ ]:
print('Prueba numero 1')
funcionPrueba([np.array(x_test10)[0]],np.array(y_test0)[0])